extends base

block title
	| Cписок вакансий

block content
	.container.container--centered
		.lists.reset-flex
			.lists__notify.notify
				.notify__icon.notify__icon--white
					include elements/svg/check
				.notify__result.notify__result--white Вами успешно добавлена новая вакансия <a href="">"Менеджер по продажам"</a>
				.notify__link.notify__link--white
					| Ссылка на опрос для соискателя
					br
					i.fa.fa-link
					span &nbsp;
					a(href="") http://this.is.link
			.lists__data.lists__data--white.block
				.block__title Список вакансий/опросов
				.line
				| Table
