extends base

block title
	| Результаты опросов

block content
	.container.container--centered
		.block.results.results--white.reset-flex
			.block__title Результаты опросов на должность "%Название вакансии%"
			a(href=).results__settings.js-results-settings
				include elements/svg/settings
			.result__options.result-options.js-results-options
				.result-options__header
					.title Настройка представления
					.subtitle Укажите поля, которые вы бы хотели видеть в таблице
				.result-options__content.js-results-options-content
			.line
			.block__paddings
				.table-wrapper
					table.table.table--margin-top.tablesorter.js-results-table
						thead
							tr
								th.table-header.headerSortDown Избранные
								th.table-header Имя
								th.table-header Фамилия
								th.table-header Вопрос № 1
								th.table-header Вопрос № 2
								th.table-header Вопрос № 3
								th.table-header Вопрос № 4
								th.table-header Вопрос № 5
								th.table-header Вопрос № 6
								th.disable-sorting
						tbody
							tr
								td 1
								td Пантелеймон
								td Христорождственский
								td
									a(href="")
										+lipsum(3, "words")
								td
									a(href="")
										+lipsum(1, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td.table__edit
									a(href="" title="Редактировать")
										include elements/svg/settings
									a(href="" title="Удалить")
										include elements/svg/remove
							tr
								td 2
								td Пантелеймон
								td Христорождственский
								td
									a(href="")
										+lipsum(3, "words")
								td
									a(href="")
										+lipsum(1, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td
									a(href="")
										+lipsum(4, "words")
								td.table__edit
									a(href="" title="Редактировать")
										include elements/svg/settings
									a(href="" title="Удалить")
										include elements/svg/remove
	.overlay
