extends base

block content
	.container
		div(style="display:flex;flex-direction:column;")
			a(href="/index.html") Главная
			a(href="/answer.html") Ответ
			a(href="/autorization.html") Авторизация
			a(href="/applicant-reg.html") Регистрация соискателя
			a(href="/info.html") Информация о вакансии
			a(href="/lists.html") Список вакансий/опросов
			a(href="/registration.html") Регистрация
			a(href="/results.html") Результаты опросов
			a(href="/vacancy.html") Вакансия