.breadcrumbs
	display flex
	flex none
	justify-content center
	padding 16px 0 10px
	font-size 12px
	.fa
		margin 2px 20px 0
		cursor default
	span
		cursor default
	&--white
		background linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(255,255,255,1) 33%)
		color #242424
		.fa
			color #696969
		a
			color #2980b9

		span
			color #1d1d1d


