.footer
	display flex
	flex none
	justify-content center
	&.footer--gray
		background #2d3e50
		color #fff
	.container
		justify-content center
	a
		color inherit
		display flex
		padding 22px 30px
		transition color 350ms
		&:hover
			color gold

