.table
	width 100%
	max-width 100%
	margin-top 30px
	border-radius 4px
	border-collapse inherit
	//table-layout fixed

	thead
		color #fff


	th
		background #2d3e50
		font-weight normal
		text-align left
		padding 24px 10px 24px 40px
		//white-space nowrap
		position relative
		cursor pointer
		&:first-child
			border-top-left-radius 4px
		&:last-child
			border-top-right-radius 4px
		&:not(:first-child)
			&:before
				display block
				content ""
				position absolute
				width 1px
				top 0
				bottom 0
				background #34475c
				left 0
		&:after
			display block
			position absolute
			font-family FontAwesome
			content "\f0dc"
			left 20px
			top 50%
			transform translateY(-50%)
		&.headerSortDown:after
			content "\f0dd"
		&.headerSortUp:after
			content "\f0de"


	td
		word-break break-all
		padding 10px
		position relative
		text-align center
		&:not(:first-child)
			&:before
				display block
				content ""
				position absolute
				width 1px
				top 0
				bottom 0
				background #ececec
				left 0

	tr
		&:nth-child(2n) td
			background #f5f5f5
		&:last-child
			td:first-child
				border-bottom-left-radius 4px
			td:last-child
				border-bottom-right-radius 4px

	&__edit
		a
			display inline-block
			&+a
				margin-left 30px