.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M90.047,87.599l-2.312-7.683h-0.313
		c-2.012,3.268-4.081,5.536-6.21,6.798c-2.13,1.263-4.905,1.895-8.326,1.895c-4.206,0-7.517-1.55-9.931-4.65
		c-2.417-3.099-3.625-7.515-3.625-13.242c0-5.999,1.626-10.422,4.878-13.27c3.252-2.847,8.155-4.423,14.712-4.726l7.601-0.304v-2.477
		c0-5.729-2.273-8.594-6.818-8.594c-3.501,0-7.614,1.366-12.342,4.096l-3.958-10.414c5.041-3.403,10.632-5.105,16.77-5.105
		c5.877,0,10.382,1.651,13.517,4.954c3.134,3.303,4.702,8.324,4.702,15.064v37.659H90.047z M86.521,61.414l-4.623,0.203
		c-3.475,0.135-6.06,0.944-7.759,2.426c-1.698,1.482-2.546,3.741-2.546,6.773c0,4.348,1.933,6.52,5.799,6.52
		c2.768,0,4.982-1.028,6.641-3.084c1.659-2.055,2.488-4.785,2.488-8.189V61.414z M38.72,70.007H17.837l-4.153,17.592H0.597
		l20.217-74.206h14.85l20.296,74.206H42.873L38.72,70.007z M29.336,29.821c-0.483-2.09-0.83-3.74-1.038-4.954
		c-0.863,4.315-3.331,14.98-7.405,31.998h14.928C31.981,40.924,29.819,31.91,29.336,29.821z"/>
	</svg>