.icon.icon--file-attached.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M97.601,23.571l-4.537-4.256c-1.87-1.753-4.923-1.753-6.808,0
		L38.675,63.939L13.747,40.571c-1.87-1.751-4.921-1.751-6.806,0l-4.539,4.255c-1.869,1.753-1.869,4.612,0,6.381l32.851,30.798
		c0.944,0.882,2.158,1.333,3.389,1.333c1.23,0,2.46-0.451,3.387-1.333l55.523-52.052C99.471,28.169,99.471,25.324,97.601,23.571z"/>
	</svg>