.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path d="M60.305,15.379c-0.143,2.32-1.772,4.22-3.618,4.22H42.368c-1.845,0-3.474-1.9-3.618-4.22l-0.595-9.623
		c-0.144-2.322,1.248-4.222,3.094-4.222h16.557c1.845,0,3.239,1.9,3.094,4.222L60.305,15.379z"/>
	<path d="M68.278,74.394l-7.574-45.625c-0.379-2.279-2.199-4.144-4.045-4.144H42.341
		c-1.846,0-3.666,1.865-4.045,4.144l-7.574,45.625c-0.378,2.278,0.423,5.434,1.782,7.009l14.525,16.85
		c1.359,1.578,3.582,1.578,4.941,0l14.525-16.85C67.854,79.828,68.656,76.672,68.278,74.394z"/>
	</svg>