.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M63.353,45.02c-4.528,0-7.821,5.528-7.821,15.937
		c0,9.938,3.058,15.584,7.763,15.584c5.293,0,7.821-6.175,7.821-15.938C71.115,51.193,68.704,45.02,63.353,45.02z"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M93.142,17.599c-1.375-1.385-3.006-2.078-4.889-2.078h-6.954
		v-5.247c0-2.404-0.852-4.463-2.554-6.175c-1.703-1.714-3.749-2.569-6.14-2.569h-3.476c-2.392,0-4.438,0.855-6.141,2.569
		c-1.703,1.712-2.554,3.771-2.554,6.175v5.247H39.57v-5.247c0-2.404-0.852-4.463-2.554-6.175c-1.703-1.714-3.75-2.569-6.141-2.569
		h-3.477c-2.39,0-4.437,0.855-6.14,2.569c-1.702,1.712-2.554,3.771-2.554,6.175v5.247H11.75c-1.883,0-3.515,0.692-4.89,2.078
		c-1.377,1.383-2.065,3.024-2.065,4.918v69.957c0,1.893,0.688,3.533,2.065,4.918c1.376,1.385,3.007,2.076,4.89,2.076h76.502
		c1.883,0,3.514-0.692,4.889-2.076s2.063-3.025,2.063-4.918V22.518C95.205,20.622,94.518,18.983,93.142,17.599z M25.66,10.275
		c0-0.473,0.172-0.884,0.515-1.229c0.344-0.346,0.751-0.518,1.223-0.518h3.477c0.471,0,0.879,0.173,1.223,0.518
		c0.344,0.346,0.517,0.756,0.517,1.229v15.741c0,0.472-0.173,0.883-0.517,1.229c-0.344,0.345-0.751,0.519-1.223,0.519h-3.477
		c-0.471,0-0.878-0.174-1.223-0.519c-0.344-0.346-0.515-0.756-0.515-1.229V10.275z M36.945,79.892h-4.999V46.49h-0.118
		l-6.645,3.587l-1-3.94l8.351-4.469h4.41V79.892z M67.389,10.275c0-0.473,0.172-0.884,0.515-1.229
		c0.344-0.346,0.75-0.518,1.222-0.518h3.477c0.472,0,0.879,0.173,1.224,0.518c0.344,0.346,0.515,0.756,0.515,1.229v15.741
		c0,0.472-0.172,0.883-0.515,1.229c-0.344,0.345-0.752,0.519-1.224,0.519h-3.477c-0.472,0-0.878-0.174-1.222-0.519
		c-0.344-0.346-0.515-0.756-0.515-1.229V10.275z M63,80.538c-7.469,0-12.526-6.998-12.644-19.642
		c0-12.819,5.527-19.876,13.29-19.876c8.057,0,12.644,7.174,12.644,19.347C76.29,73.364,71.468,80.538,63,80.538z"/>
	</svg>