.icon.icon--edit.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M1.185,76.29v19.091h18.613l53.88-55.764L55.065,20.526
		L1.185,76.29z M87.882,25.047c1.959-2.009,1.959-5.024,0-7.034L76.617,6.459c-1.959-2.01-4.898-2.01-6.857,0l-8.817,9.044
		l18.613,19.089L87.882,25.047z M45.269,85.334l-9.797,10.047h63.677V85.334H45.269z"/>
	</svg>

