.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path d="M1.061,12.354v15.058h97.878V12.354H1.061z"/>
	<path d="M1.061,42.471v15.057h97.878V42.471H1.061z"/>
	<path d="M1.061,72.588v15.058h97.878V72.588H1.061z"/>
	</svg>
