.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M4.313,23.297C6.966,24.83,43.708,46.038,45.075,46.83
		c1.369,0.787,3.141,1.17,4.926,1.17s3.556-0.382,4.925-1.17c1.368-0.792,38.109-22,40.762-23.533c2.656-1.532,5.168-6.34,0.291-6.34
		H4.022C-0.852,16.956,1.657,21.765,4.313,23.297z M96.813,34.978c-3.016,1.69-40.043,22.498-41.888,23.532
		c-1.847,1.037-3.14,1.171-4.925,1.171s-3.078-0.135-4.926-1.171c-1.846-1.034-38.87-21.842-41.886-23.532
		c-2.124-1.188-2.106,0.207-2.106,1.283c0,1.077,0,42.848,0,42.848c0,2.448,3.035,5.602,5.391,5.602h87.053
		c2.355,0,5.39-3.154,5.39-5.602c0,0,0-41.771,0-42.848C98.917,35.185,98.938,33.79,96.813,34.978z"/>
	</svg>