.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path d="M80.345,43.85V30.704c0-16.327-14.046-29.614-31.32-29.614c-17.278,0-31.32,13.288-31.32,29.614V43.85
		h-6.084v55.06h75.425V43.85H80.345z M56.396,72.34v11.648c0,3.028-2.596,5.488-5.808,5.488c-3.213,0-5.811-2.449-5.811-5.488V72.34
		c-2.024-1.585-3.341-3.954-3.341-6.625c0-4.775,4.098-8.643,9.152-8.643s9.146,3.868,9.146,8.643
		C59.734,68.399,58.416,70.755,56.396,72.34z M68.959,43.85H29.096V30.704c0-10.39,8.94-18.846,19.935-18.846
		c10.984,0,19.928,8.456,19.928,18.846V43.85z"/>
	</svg>