.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M47.459,97.485c0.508,0.574,0.996,0.941,1.469,1.198l0.024,0.012
		l0.951,0.299l0.949-0.299l0.026-0.012c0.47-0.257,0.96-0.623,1.469-1.198c0,0,28.131-31.005,30.956-57.872
		c0.171-1.388,0.283-2.792,0.283-4.22c0-18.991-15.189-34.387-33.925-34.387c-18.739,0-33.929,15.396-33.929,34.387
		c0,1.452,0.115,2.872,0.289,4.277C18.92,66.527,47.459,97.485,47.459,97.485z M49.661,13.274c12.034,0,21.821,9.926,21.821,22.119
		c0,12.192-9.787,22.119-21.821,22.119c-12.031,0-21.824-9.927-21.824-22.119C27.837,23.2,37.63,13.274,49.661,13.274z"/>
	</svg>