.plus.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M56.123,26.508v18.368h18.37v12.248h-18.37v18.369H43.877V57.123h-18.37V44.876
		h18.37V26.508H56.123z M50,2.015C22.946,2.015,1.015,23.946,1.015,51S22.946,99.985,50,99.985c27.055,0,48.985-21.93,48.985-48.985
		S77.055,2.015,50,2.015L50,2.015z"/>
	</svg>