.icon.icon--file-remove.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
	<path d="M98.917,10.867l-9.783-9.783L50.001,40.218L10.866,1.084l-9.783,9.783L40.217,50L1.083,89.134l9.783,9.783
		l39.135-39.133l39.133,39.133l9.783-9.783L59.783,50L98.917,10.867z"/>
	</svg>