.icon.icon--textfield.
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
		<path d="M90.598,4.774H32.233c-4.638,0-8.399,3.677-8.399,8.214c0,4.537,3.761,8.215,8.399,8.215h20.784v65.808
			c0,4.535,3.761,8.214,8.399,8.214c4.638,0,8.399-3.679,8.399-8.214V21.204h20.783c4.638,0,8.399-3.679,8.399-8.215
			C98.997,8.451,95.236,4.774,90.598,4.774z"/>
		<path d="M38.473,40.99H9.402c-4.638,0-8.399,3.678-8.399,8.215c0,4.536,3.76,8.215,8.399,8.215h6.137v28.657
			c0,4.535,3.76,8.214,8.399,8.214c4.638,0,8.399-3.679,8.399-8.214V57.42h6.136c4.638,0,8.399-3.68,8.399-8.215
			C46.873,44.668,43.112,40.99,38.473,40.99z"/>
	</svg>