@import "elements/normalize"

@import "elements/common"
@import "elements/forms"
@import "elements/media"
@import "elements/table"
@import "elements/header"
@import "elements/breadcrumbs"
@import "elements/content"
@import "elements/autorization"
@import "elements/registration"
@import "elements/vacancy"
@import "elements/answer"
@import "elements/info"
@import "elements/lists"
@import "elements/results"
@import "elements/footer"